<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Ship Operation Simulation</title>
    {% endif %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/metisMenu.min.css">
    <link rel="stylesheet" href="/static/css/timeline.css">
    <link rel="stylesheet" href="/static/css/sb-admin-2.css">
    <link rel="stylesheet" href="/static/css/morris.css">
    
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="plugins/iCheck/flat/blue.css">
    <link rel="stylesheet" href="plugins/morris/morris.css">
    <link rel="stylesheet" href="plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

</head>
<body class="hold-trasision skin-blue sidebar-mini">
    <div id="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="logo">
                <span class="logo-mini">SOS</span>
                <span class="logo-lg">Ship Operation Simulator</span>
            </a>

            <!-- Header -->
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle nav</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown massage-menu">
                        </li>
                        <li class="dropdown massage-menu">
                        </li>
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="#" class="user-image" alt="User Image">
                                <span class="hidden-xs">Ryuji Ueno</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="#" class="img-circle" alt="User Image">
                                    <p>Ryuji Ueno<small>2nd Master's student</small></p>
                                </li>
                                <li class=user-footer">
                                    <div class="pull-left">
                                        <a href="http://www.nakl.t.u-tokyo.ac.jp/is_en/wiki.cgi?page=Ryuji+Ueno" class="btn btn-default btn-flat">My Page</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="http://apps.is.k.u-tokyo.ac.jp:8080/ShipDesignPlatform/" class="btn btn-default btn-flat">UT3</a>
                                    </div>
                                </li>

                        </li>
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="#" class="img-circle" alt="Run">
                    </div>
                    <div class="pull-left info">
                        <p>Simulation Run</p>
                    </div>
                </div>
                <!-- Simulation Run -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>Run</button>
                        </span>
                    </div>
                </form>

                <!-- Settings -->
                <ul class="sidebar-menu">
                    <li class="header">Settings</li>
                    <li class="active treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i><span>Ship Model</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active">Hull</li>
                            <li>Propeller</li>
                            <li>Engine</li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i><span>Degration</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active">Engine Deterioration</li>
                            <li>Propeller Deterioration</li>
                            <li>Hull Deterioration</li>
                            <li>Propeller Folding</li>
                            <li>Hull Folding</li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i><span>Meteorology</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active">Engine Deterioration</li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i><span>Operation Model</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active">Ship Type</li>
                            <li>Load Capacity</li>
                            <li>Route</li>
                            <li>Speed</li>
                            <li>Maintenance Rule</li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i><span>Marcket</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active">Crude Oil Price</li>
                            <li>Container Load</li>
                            <li>Container price</li>
                        </ul>
                    </li>
            </section>
        </aside>
    </div>
    <div id="page-wrapper">
    {% block content %}{% endblock %}
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/metisMenu.min.js"></script>
    <script src="/static/js/raphael-min.js"></script>
    <script src="/static/js/sb-admin-2.js"></script>
    {% if result %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {'packages':['line']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var dataCO = new google.visualization.DataTable();
        var dataNG = new google.visualization.DataTable();
        dataCO.addColumn('date', 'Year');
        dataCO.addColumn('number', 'Crude Oil (BRE)');
        dataCO.addColumn('number', 'Crude Oil (DUB)');
        dataCO.addColumn('number', 'Crude Oil (WTI)');
        dataNG.addColumn('date', 'Year');
        dataNG.addColumn('number', 'Natural Gas (EU)');
        dataNG.addColumn('number', 'Natural Gas (JP)');
        dataNG.addColumn('number', 'Natural Gas (US)');
        dataCO.addRows([
            {% for date, dataCO, dataNG in result: %}
            [new Date({{ date[0] }}, {{ date[1] }}, 1), {{ dataCO[0] }}, {{ dataCO[1] }}, {{ dataCO[2] }}],
            {% endfor %}
        ]);
        dataNG.addRows([
            {% for date, dataCO, dataNG in result: %}
            [new Date({{ date[0] }}, {{ date[1] }}, 1), {{ dataNG[0] }}, {{ dataNG[1] }}, {{ dataNG[2] }}],
            {% endfor %}
        ]);
        var optionsCO = {
            chart: {
                title: 'Crude Oil Price',
                subtitle: ''
            },
        };
        var optionsNG = {
            chart: {
                title: 'Natural Gas Price',
                subtitle: ''
            },
        };
        var chartCO = new google.charts.Line(document.getElementById('CO_chart'));
        var chartNG = new google.charts.Line(document.getElementById('NG_chart'));
        chartCO.draw(dataCO, optionsCO);
        chartNG.draw(dataNG, optionsNG);
    }
    </script>
    {% endif %}
</body>
</html>
